.form-div{
   
    background-color: rgba(119, 186, 119, 0.776);
  
    color: rgb(15, 14, 14);
    width: 450px;
    height: 320px;
    padding-top: 10px;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    right: 30%;
    left: 5%;
    box-shadow: rgb(14, 218, 218);
   
}


#error{
    background-color: red;
    color: white;
    text-align: center;
}
.sign{
    font-size: x-large;
    font-weight: 900;
}
.enter{
    border-radius: 15px;
     width: 50%;
     margin: .4rem;
     border-style: none;
 }
 .btn{
    width: 130px;
    font-weight: 600;
    height: 30px;
    background-color: rgba(27, 27, 211, 0.982);
    color: wheat;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(4, 114, 59);
}
.a:hover{
    font-size: large;
    font-weight: 700;
    color: rgb(8, 24, 247);
}
.a{
   
    padding: 10px;
    border-style: none;
}
body{
    background-color: rgba(215, 206, 224, 0.466);
}